.booking__title {
  margin-bottom: 44px;
  text-align: center;

  @include media-min(768px) {
    text-align: left;
  }
}

.booking__form {
  display: flex;
  flex-direction: column;
  gap: 44px;

  @include media-min(768px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  @include media-min(1200px) {
    width: 570px;
  }
}

.booking__field {
  display: inline-block;
  position: relative;
  width: 100%;

  @include media-min(768px) {
    &:not(:last-of-type) {
      width: calc((100% - 30px) / 2);
    }
  }
}

.booking__label {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);

  transition: transform var(--animation), color var(--animation);

  .booking__input:focus + & {
    transform: translateY(-23px);
    color: var(--primary-light-text);
  }

  .booking__input:not(:placeholder-shown) + & {
    transform: translateY(-23px);
  }
}

.booking__input {
  padding: 0;
  width: 100%;
  border: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: var(--primary-light-text);
  background-color: transparent;

  transition: border-color var(--animation);

  &--textarea {
    height: 75px;
    resize: none;
  }

  &:focus {
    outline: transparent;
    border-color: var(--primary-light-text);
  }
}

.booling__wrap {
  width: 100%;
  text-align: center;
}

.booking__button {
  width: 160px;
}
