.communication {
  background-color: var(--communication-bg);

  @include media-min(1200px) {
    background-repeat: no-repeat;
    background-size: calc(50% - 15px) 100%;
    background-position: right;
    background-image: url(../images/contacts/contacts-bg-desktop.png);
  }
}

.communication__container {
  @include media-min(1200px) {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }
}
