.communication {
  background-color: var(--communication-bg);
}

.communication__container {
  @include media-min(1200px) {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
  }
}
