.prices {
  min-height: 738px;

  background-color: var(--prices-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/prices/prices-bg-mobile.png);

  @include retina {
    background-image: url(../images/prices/prices-bg-mobile@2x.png);
  }

  @include media-min(768px) {
    min-height: 856px;
    background-image: url(../images/prices/prices-bg-tablet.png);

    @include retina {
      background-image: url(../images/prices/prices-bg-tablet@2x.png);
    }
  }

  @include media-min(1200px) {
    min-height: 692px;
    background-image: url(../images/prices/prices-bg-desktop.png);

    @include retina {
      background-image: url(../images/prices/prices-bg-desktop@2x.png);
    }
  }
}

.prices__title {
  font-size: 40px;
  line-height: calc(47 / 40);

  margin-bottom: 44px;

  @include media-min(768px) {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}
