.prices {
  background-color: var(--prices-bg);
}

.prices__bg-wrap {
  min-height: 738px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/prices/prices-bg-mobile.png);

  @include retina {
    background-image: url(../images/prices/prices-bg-mobile@2x.png);
  }

  @include media-min(768px) {
    min-height: 856px;
    background-image: url(../images/prices/prices-bg-tablet.png);

    @include retina {
      background-image: url(../images/prices/prices-bg-tablet@2x.png);
    }
  }

  @include media-min(1200px) {
    max-width: 1600px;
    min-height: 692px;
    background-image: url(../images/prices/prices-bg-desktop.png);

    @include retina {
      background-image: url(../images/prices/prices-bg-desktop@2x.png);
    }
  }
}

.prices__container {
  &:last-child {
    text-align: center;
  }
}

.prices__title {
  margin-bottom: 44px;

  text-align: left;
  font-size: 40px;
  line-height: calc(47 / 40);

  @include media-min(768px) {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}

.prices__wrap {
  margin-bottom: 44px;
  padding: 30px 20px 30px 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-max(1199px) {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }

  @include media-min(768px) {
    padding: 32px 40px;
  }

  @include media-min(1200px) {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}

.prices__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media-min(1200px) {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;

    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

    &:last-child {
      background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
  }
}

.prices__item {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: calc(20 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-text);

  @include media-min(768px) {
    font-size: 18px;
    line-height: calc(30 / 18);
  }
}

.prices__label {
  display: flex;
  align-items: baseline;
  flex-grow: 1;

  &::after {
    margin-right: 4px;
    margin-left: 4px;

    display: inline-flex;
    flex-grow: 1;
    content: '';
    width: 1px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
  }
}
