.container {
  padding: 84px 31px;
  margin: 0 auto;

  @include media-min(480px) {
    max-width: 480px;
  }

  @include media-min(768px) {
    max-width: 768px;
    padding: 100px 39px;
  }

  @include media-min(1200px) {
    max-width: 1200px;
    padding: 120px 15px;
  }
}
