.container {
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;

  @include media-min(480px) {
    max-width: 480px;
  }

  @include media-min(768px) {
    max-width: 720px;
    padding-left: 39px;
    padding-right: 39px;
  }

  @include media-min(1200px) {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
