.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
  background-color: var(--primary-light-text);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__link {
  color: var(--primary-dark-text);
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--primary-active);
    outline: transparent;
  }
}

.socials__icon {
  fill: currentColor;
}
