:root {
  --primary-light-text: #ffffff;
  --primary-dark-text: #303030;
  --secondary-text: #9da4bd;
  --third-text: #555555;

  --primary-bg: #ffffff;
  --secondary-bg: #f7f7f7;
  --prices-bg: #111319;
  --contacts-bg: #191c26;

  --primary-active: #ff6c00;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
